body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boardName {
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  padding: 0;
}


.list {
  width: 300px;
  background-color: #ebecf0;
  margin-left: 5px;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-body{
  display: flex;
  flex-direction: row;
}
.all-boards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  float: right;
  justify-content: center;
}
.left{
  width: 25%;
}
.right{
  width: 75%;
}
.newList:focus{
  color: rgb(67, 67, 67);
  font-weight: bold;
}
.card-body{
  padding: 0px;
}



/* BOARCONTAINRT
*/

.istGroupItems{
  width:300px;
  background-color: #ebecf0;
}
.routerLink a{
  text-decoration: none;
}





/*Loade*/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
